@charset "utf-8";
/* CSS Document */

p  {
	margin-top:1px;
	margin-bottom:1px;
	letter-spacing:1px;
	font-style:normal;
	font-variant:normal;
	font-weight:lighter;
	line-height:150%;
	font-size:12px;
	font-family:Verdana,Arial,Tahoma;
}
	
a:link       { font-style: normal; font-variant: normal; font-weight: normal; font-size: 9pt; 
               font-family: Tahoma; text-decoration: none; color: #0000FF }
a:visited    { font-style: normal; font-variant: normal; font-weight: normal; font-size: 9pt; 
               font-family: Tahoma, Arial, Helvetica; text-decoration: none; 
               color: #0000FF }
a:active     { font-style: normal; font-variant: normal; font-weight: normal; font-size: 9pt; 
               font-family: Tahoma, Arial, Helvetica; text-decoration: none; 
               color: #0000FF }
a:hover      { font-style: normal; font-variant: normal; font-weight: normal; font-size: 9pt; 
               font-family: Tahoma; color: #FF0000; text-decoration: none }

TD#link {
}
#link A {color: #666666; text-decoration:none; font-family:Tahoma; font-size:9 pt; font-weight:bold}
#link A:link {POSITION: relative; text-decoration:none; font-family:Tahoma; font-size:9 pt; color:#000000; font-weight:bold }
#link A:hover {LEFT: 1px; POSITION: relative; TOP: 1px; text-decoration:none; font-family:Tahoma; font-size:9 pt; color:#FF6666; font-weight:bold }
#link A:active {}

.link_content {

font-family: Verdana; font-size: 8 pt; letter-spacing: 0}

TD#ncl_link {
}
#ncl_link A:hover {LEFT: 1px; POSITION: relative; TOP: 1px; 
}

.head {
	BACKGROUND-POSITION: left 50%; FONT-WEIGHT: bold; COLOR: #FFFFFF; LINE-HEIGHT: 22px; HEIGHT: 24px; BACKGROUND-COLOR: #AD9F8C; TEXT-ALIGN: center; font-size:9 pt; font-family:Tahoma
}

.Buton {color: #000000}
.leftmenu		{border-right:1px solid #B4B4B4; padding:10px; border-left-width:1; border-top-width:1; border-bottom-width:1 }
.user_stat_table    {border-bottom:1px none #90528a;background-color:#ffffdf; border-left-color:#90528a; border-right-color:#90528a; border-top-color:#90528a}
.user_stat_text	 {FONT-SIZE: 9pt; FONT-FAMILY: Tahoma; LETTER-SPACING: 1px;PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px}


td.list		{
	padding:5px;
	font-size: 9 pt;
}

td.IAT_area {
	padding:20px;
}
<!-- Ajax loader img -->
.loader {
	background-repeat: no-repeat;
	background-image: url(../images/loader.gif);
	height: 25px;
	width: 20px;
	display: inline;
	margin-right: 5px;
	line-height: 25px;
	font-size: 22px;
	vertical-align:middle;
}

.loading {
	background-repeat: no-repeat;
	background-image: url(../images/loading.gif);
	height: 25px;
	width: 20px;
	display: inline;
	margin-right: 5px;
	line-height: 25px;
	font-size: 22px;
	vertical-align:middle;
}
<!-- 說明視窗 -->
#explain{
	position:absolute;
	background:#660044;-moz-opacity:0.9;filter:alpha(opacity=90);
	border:1px solid #666;
	color:#eee;
	padding:5px;
	font-size:13px;
	font-family:Tahoma;
	letter-spacing:1px;
}
